body {
  font: 10px sans-serif;
  margin: 0;
}

path.line {
  fill: none;
  stroke: #666;
  stroke: #600;
  stroke-width: 1.5px;
}

path.line.running {
  fill: none;
  stroke: #a66;
  stroke: #333;
  stroke-width: 1px;
}

path.line.parallel {
  fill: none;
  stroke: #66f;
  stroke-width: 1px;
}

path.line.daily {
  fill: none;
  stroke: #666;
  stroke-width: 1px;
}


path.area {
  fill: #e7e7e7;
}

path.area.running {
  fill: #a66;
  fill-opacity: 0.5;
}



path.area-activity {
  fill: #efb7b7;
}

path.area-stopped {
  fill: #b7efb7;
}

.axis {
  shape-rendering: crispEdges;
}

.x.axis line {
  stroke: #ccc;
}

.x.axis .minor {
  stroke-opacity: .5;
}

.x.axis path {
  /*display: none;*/
  fill: none;
  stroke: #000;
}

.y.axis line, .y.axis path {
  fill: none;
  stroke: #000;
}

rect.pane {
  cursor: move;
  fill: none;
  pointer-events: all;
}
